<p id="notice"><%= notice %></p>

<h1>Todo List</h1>

<div ng-controller="ItemsCtrl">
  <table class="table table-hover">
    <thead>
      <td> What needs to be done? </td>
      <td> Done? </td>
    </thead>
    <tr ng-repeat="item in items">
      <td> 
        {{item.desc}}
      </td>
      <td>
        {{item.done}}
        <small ng-show="item.crit"><br>{{item.crit}}</small>
      </td>
  </tr>
  </table>
</div>







<!-- <table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Done</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= item.title %></td>
        <td><%= item.done %></td>
        <td><%= link_to 'Show', item %></td>
        <td><%= link_to 'Edit', edit_item_path(item) %></td>
        <td><%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Item', new_item_path %>
 -->